[submodule "esp32phone/components/pubsubclient"]
	path = esp32phone/components/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "esp32phone/components/arduino-esp32"]
	path = esp32phone/components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v3.2
